/*
COLORS
 */
/* definition */
:root {
  --background: hsla(0, 0%, 100%, 1);
  --background-hover: hsla(0, 0%, 55%, 12%);
  --background-active: hsla(0, 0%, 55%, 12%);

  --surface: #f4f4f4;
  --surface-hover: #e8e8e8;
  --surface-active: #c6c6c6;

  --text-normal: #161616;
  --text-on-color: #ffffff;

  --text-success: #24a148;
  --text-warn: #f1c21b;
  --text-error: #da1e28;
  --text-info: #0043ce;

  --link: #0f62fe;
  --link-hover: #0043ce;

  --primary: #0f62fe;
  --primary-hover: #0353e9;
  --primary-active: #002d9c;

  --danger: #da1e28;
  --danger-hover: #ba1b23;
  --danger-active: #750e13;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(0, 0%, 9%, 100%);
    --background-hover: hsla(0, 0%, 55%, 16%);
    --background-active: hsla(0, 0%, 55%, 40%);

    --surface: #262626;
    --surface-hover: #333333;
    --surface-active: #6f6f6f;

    --text-normal: #f4f4f4;

    --text-success: #42be65;
    --text-warn: #f1c21b;
    --text-error: #fa4d56;
    --text-info: #4589ff;

    --link: #78a9ff;
    --link-hover: #a6c8ff;
  }
}

/* implementation */
body {
  background-color: var(--background);
  color: var(--text-normal);
}

button,
input,
textarea,
select,
.surface,
.tile {
  background-color: var(--surface);
  color: var(--text-on-color)
}
:is(.clickable, button, select):hover,
:is(.clickable, button, select)[selected]:active {
  background-color: var(--surface-hover);
}
:is(.clickable, button, select):active,
:is(.clickable, button, select)[selected] {
  background-color: var(--surface-active);
}

input:checked {
  background-color: var(--primary);
}

button.ghost:not(.tile) {
  background-color: transparent;
}

button.primary {
  background-color: var(--primary);
}
button.primary:hover {
  background-color: var(--primary-hover);
}
button.primary:active {
  background-color: var(--primary-active);
}

button.ghost {
  color: var(--link);
}
button.ghost:hover {
  color: var(--hover);
  background-color: var(--background-hover);
}
button.ghost:active {
  background-color: var(--background-active);
}

button.danger {
  background-color: var(--danger);
}
button.danger:hover {
  background-color: var(--danger-hover);
}
button.danger:active {
  background-color: var(--danger-active);
}

/*
SPACING
 */
:root {
  /* gap */
  --grid-gap: 1px;
  --label-gap: 0.25rem;
  --control-gap: 1.2rem;

  /* margin */
  --label-margin: 1rem;
  --content-margin: 0.75rem;

  /* padding */
  --control-padding: 1rem;
  --control-marker-padding: 0.7rem;
  --content-padding: 2rem;

  /* size */
  --checkbox-size: 16px;
}

/*
TEXT
 */
* {
  font-family: IBM Plex Sans;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

code {
  font-family: IBM Plex Mono;
}

.secondary,
.helper-text,
.error-text,
label {
  font-size: 0.9rem;
}

.secondary,
.helper-text,
label span {
  opacity: 0.6;
}

@font-face {
  font-family: IBM Plex Sans;
  src: url("Fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: IBM Plex Mono;
  src: url("Fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: IBM Plex Serif;
  src: url("Fonts/IBMPlexSerif-Regular.ttf");
}

/*
BASIC
*/
* {
  box-sizing: border-box;
  text-align: left;
  border: none;
  outline: none;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
COMPONENTS
 */
:root {
  --outline-width: 2px;
  --control-height: 42px;

  --max-input-width: 24rem;
  --max-content-width: 48rem;

  --header-height: 48px;
}

/* appearance */
input[type="checkbox"],
input[type="radio"],
select {
  appearance: none;
  --webkit-appearance: none;
  --mpz-appearance: none;
}

/* border, outline, etc */
button,
input,
select,
textarea {
  border: none;
}

hr {
  border-bottom: 1px solid var(--text-normal);
  opacity: .1;
}

:is(
    input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
    textarea
  ):focus,
.tile[selected] {
  outline: var(--outline-width) solid var(--primary);
}

/* border-radius */
* {
  border-radius: 0px;
}

input[type="radio"] {
  border-radius: 100%;
}

/* display etc */
button:not(.tile),
input,
header,
label.inline,
select,
textarea,
.tile {
  align-items: center;
}

label,
label * {
  display: block;
}

header,
input[type="checkbox"],
input[type="radio"],
label.inline,
.tile {
  display: flex;
}

.grid {
  display: grid;
}

button:not(.tile),
input,
select,
textarea {
  display: inline-flex;
}

[hidden] {
  display: none;
}

.tile {
  flex: 1;
}

.grid {
  gap: var(--grid-gap);
}

button,
.tile {
  gap: var(--control-gap);
}

input[type="checkbox"],
input[type="radio"] {
  justify-content: center;
}

.tile {
  justify-content: start;
}

.tile > div {
  flex: 1;
}

/* opacity */
[disabled] {
  opacity: 0.5;
}

/* padding, margin, etc */
h1,
h2,
h3,
p {
  margin: 0px;
}

hr {
  margin: var(--content-margin) 0px;
}

:is(code, p):not(:last-child) {
  margin-bottom: var(--content-margin);
}

label {
  margin-bottom: var(--label-margin);
}

label > span:first-child {
  margin-bottom: var(--label-gap);
}

input[type="color"],
input[type="checkbox"],
input[type="radio"] {
  padding: 0px;
}

button:not(.tile),
header,
input,
select {
  padding: 0px var(--control-padding);
}

main {
  padding: var(--content-padding);
}

textarea,
.tile {
  padding: var(--control-padding);
}

label {
  text-indent: var(--control-padding);
}

/* pointer-events */
[disabled] {
  pointer-events: none;
}

/* position etc */
select + .icon {
  bottom: 0px;
}

select + .icon {
  position: absolute;
}

input,
label {
  position: relative;
}

header {
  position: sticky;
}

select + .icon {
  right: var(--control-marker-padding);
}

header {
  top: 0;
}

/* size */
select + .icon {
  height: 100%;
}

button:not(.tile),
input:not([type="checkbox"]):not([type="radio"]),
select,
select + .icon,
textarea {
  height: var(--control-height);
}

header {
  height: var(--header-height);
}

p {
  max-width: var(--max-content-width);
}

input,
label,
select,
textarea {
  max-width: var(--max-input-width);
}

input:not([type="checkbox"]):not([type="radio"]),
header,
select,
textarea,
.tile,
.tile > div {
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  width: 16px;
  height: 16px;
}

/* z-index */
header {
  z-index: 1;
}

/*
PSEUDO
 */
input[type="checkbox"]:checked::before {
  content: "check";
  font-size: 70% !important;
  color: var(--text-on-color);
}

input[type="radio"]:checked::before {
  content: "";

  background-color: var(--text-on-color);
  border-radius: 100%;

  --inset: 4px;
  position: absolute;
  top: var(--inset);
  left: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
}

/*
ICONS
 */
input[type="checkbox"],
.tile.arrow-right::after,
.icon {
  font-family: "Material Symbols Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 300;
  src: url("Icons/material-icons.woff") format("woff");
}
