/*
COLORS
 */
/* definition */
:root {
  /* base */
  --base-hue: 0;
  --base-sat: 0%;

  --base-lum-light: 100%;
  --base-text-lum-light: 0%;

  --base-lum-dark: 0%;
  --base-text-lum-dark: 100%;

  /* accent */
  --accent-hue: 230;
  --accent-sat: 90%;

  --accent-lum-light: 55%;
  --accent-text-lum-light: 100%;

  --accent-lum-dark: 55%;
  --accent-text-lum-dark: 100%;

  /* other */
  --surface-offset-light: -8%;
  --surface-offset-dark: 15%;

  --text-secondary-opacity: 0.6;
}

.danger {
  --theme-hue: 0;
  --theme-sat: 100%;

  --theme-lum-light: 50%;
  --theme-text-lum-light: 100%;

  --theme-lum-dark: 50%;
  --theme-text-lum-dark: 100%;
}

.success {
  --theme-hue: 270;
  --theme-sat: 50%;

  --theme-lum-light: 50%;
  --theme-text-lum-light: 50%;

  --theme-lum-dark: 50%;
  --theme-text-lum-dark: 50%;
}

/* conversion */
body,
.surface {
  --theme-hue: var(--base-hue);
  --theme-sat: var(--base-sat);

  --theme-lum-light: var(--base-lum-light);
  --theme-text-lum-light: var(--base-text-lum-light);

  --theme-lum-dark: var(--base-lum-dark);
  --theme-text-lum-dark: var(--base-text-lum-dark);
}

.accent {
  --theme-hue: var(--accent-hue);
  --theme-sat: var(--accent-sat);

  --theme-lum-light: var(--accent-lum-light);
  --theme-text-lum-light: var(--accent-text-lum-light);

  --theme-lum-dark: var(--accent-lum-dark);
  --theme-text-lum-dark: var(--accent-text-lum-dark);
}

* {
  --base-lum: var(--base-lum-light);
  --base-text-lum: var(--base-text-lum-light);

  --accent-lum: var(--accent-lum-light);
  --accent-text-lum: var(--accent-text-lum-light);

  --theme-lum: var(--theme-lum-light);
  --theme-text-lum: var(--theme-text-lum-light);

  --effect-offset: -4%;
  --surface-offset: var(--surface-offset-light);
}
@media (prefers-color-scheme: dark) {
  * {
    --base-lum: var(--base-lum-dark);
    --base-text-lum: var(--base-text-lum-dark);

    --accent-lum: var(--accent-lum-dark);
    --accent-text-lum: var(--accent-text-lum-dark);

    --theme-lum: var(--theme-lum-dark);
    --theme-text-lum: var(--theme-text-lum-dark);

    --effect-offset: 12%;
    --surface-offset: var(--surface-offset-dark);
  }
}

/* preparation */
* {
  --background-opacity: 0;
  --accent-color: hsl(var(--accent-hue), var(--accent-sat), var(--accent-lum));
  --accent-text-color: hsl(
    var(--accent-hue),
    var(--accent-sat),
    var(--accent-text-lum)
  );
}

body,
.background,
.filled,
.ghost-surface,
.ghost:hover,
.ghost:active,
.surface,
input[type="checkbox"],
input[type="radio"] {
  --background-opacity: 1;
}

body,
.background,
.surface,
.filled,
input[type="checkbox"],
input[type="radio"] {
  --background-hue: var(--theme-hue);
  --background-sat: var(--theme-sat);
  --background-lum: var(--theme-lum);

  --text-hue: var(--theme-hue);
  --text-sat: var(--theme-sat);
  --text-lum: var(--theme-text-lum);
}

.ghost,
.ghost-surface {
  --background-hue: var(--base-hue);
  --background-sat: var(--base-sat);
  --background-lum: var(--base-lum);

  --text-hue: var(--theme-hue);
  --text-sat: calc(var(--theme-sat) * 0.9);
  --text-lum: calc(var(--theme-lum) * 1.3);
}

.ghost-surface,
.surface,
input[type="checkbox"],
input[type="radio"] {
  --background-lum: calc(var(--base-lum) + var(--surface-offset));
}

/* implementation */
* {
  color: hsl(var(--text-hue), var(--text-sat), var(--text-lum));
  accent-color: var(--accent-color);
  background: hsla(
    var(--background-hue),
    var(--background-sat),
    var(--background-lum),
    var(--background-opacity)
  );
}
.ghost {
  background: transparent;
}
[disabled] {
  background: hsla(
    var(--background-hue),
    var(--background-sat),
    calc(var(--background-lum) + var(--effect-offset)),
    var(--background-opacity)
  );
}
:is(.clickable, button, select):hover {
  background: hsla(
    var(--background-hue),
    var(--background-sat),
    calc(var(--background-lum) + var(--effect-offset)),
    var(--background-opacity)
  );
}
:is(.clickable, button, select):active {
  background: hsla(
    var(--background-hue),
    var(--background-sat),
    calc(var(--background-lum) + var(--effect-offset) * 2),
    var(--background-opacity)
  );
}
input:checked {
  background-color: var(--accent-color);
}

/*
SPACING
 */
:root {
  /* gap */
  --grid-gap: 1px;
  --label-gap: 0.25rem;
  --icon-gap: 1.2rem;

  /* margin */
  --label-margin: 1rem;

  /* padding */
  --control-padding: 1rem;
  --control-marker-padding: 0.7rem;
  --content-padding: 2rem;

  /* size */
  --checkbox-size: 16px;
}

/*
TEXT
 */
* {
  font-family: IBM Plex Sans;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

code {
  font-family: IBM Plex Mono;
}

.secondary,
.helper-text,
.error-text,
label {
  font-size: 0.9rem;
}

.helper-text,
label span {
  opacity: var(--text-secondary-opacity);
}

@font-face {
  font-family: IBM Plex Sans;
  src: url("Fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: IBM Plex Mono;
  src: url("Fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: IBM Plex Serif;
  src: url("Fonts/IBMPlexSerif-Regular.ttf");
}

/*
BASIC
*/
* {
  box-sizing: border-box;
  text-align: left;
  border: none;
  outline: none;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
COMPONENTS
 */
:root {
  --outline-width: 2px;
  --control-height: 42px;

  --max-input-width: 24rem;
  --max-content-width: 48rem;

  --header-height: 48px;
}

/* appearance */
input[type="checkbox"],
input[type="radio"],
select {
  appearance: none;
  --webkit-appearance: none;
  --mpz-appearance: none;
}

/* border, outline, etc */
button,
input,
select,
textarea {
  border: none;
}

hr {
  border-bottom: 1px solid
    hsla(var(--base-hue), var(--base-sat), var(--base-text-lum), 0.2);
}

/* border-radius */
* {
  border-radius: 0px;
}

input[type="radio"] {
  border-radius: 100%;
}

/* display etc */
button:not(.tile),
input,
header,
label.inline,
select,
textarea,
.tile {
  align-items: center;
}

label,
label * {
  display: block;
}

header,
input[type="checkbox"],
input[type="radio"],
label.inline,
.tile {
  display: flex;
}

.grid {
  display: grid;
}

button:not(.tile),
input,
select,
textarea {
  display: inline-flex;
}

[hidden] {
  display: none;
}

.tile {
  flex: 1;
}

.grid {
  gap: var(--grid-gap);
}

.tile {
  gap: var(--icon-gap)
}

input[type="checkbox"],
input[type="radio"] {
  justify-content: center;
}

.tile {
  justify-content: start;
}

.tile > div {
  flex: 1;
}

/* opacity */
[disabled] {
  opacity: .5;
}

/* padding, margin, etc */
h1,
h2,
h3,
p {
  margin: 0px;
}

label {
  margin-bottom: var(--label-margin);
}

label > span:first-child {
  margin-bottom: var(--label-gap);
}

input[type="color"],
input[type="checkbox"],
input[type="radio"] {
  padding: 0px;
}

button:not(.tile),
header,
input,
select {
  padding: 0px var(--control-padding);
}

main {
  padding: var(--content-padding);
}

textarea,
.tile {
  padding: var(--control-padding);
}

label {
  text-indent: var(--control-padding);
}

/* pointer-events */
[disabled] {
  pointer-events: none;
}

/* position etc */
select + .icon {
  bottom: 0px;
}

select + .icon {
  position: absolute;
}

input,
label {
  position: relative;
}

header {
  position: sticky;
}

select + .icon {
  right: var(--control-marker-padding);
}

header {
  top: 0;
}

/* size */
select + .icon {
  height: 100%;
}

button:not(.tile),
input:not([type="checkbox"]):not([type="radio"]),
select,
select + .icon,
textarea {
  height: var(--control-height);
}

header {
  height: var(--header-height);
}

p {
  max-width: var(--max-content-width);
}

input,
label,
select,
textarea {
  max-width: var(--max-input-width);
}

input:not([type="checkbox"]):not([type="radio"]),
header,
select,
textarea,
.tile,
.tile > div {
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  width: 16px;
  height: 16px;
}

/* z-index */
header {
  z-index: 1;
}

/*
PSEUDO
 */
input[type="checkbox"]:checked::before {
  content: "check";
  font-size: 70% !important;
  color: var(--accent-text-color);
}

input[type="radio"]:checked::before {
  content: "";

  background-color: var(--accent-text-color);
  border-radius: 100%;

  --inset: 4px;
  position: absolute;
  top: var(--inset);
  left: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
}

/*
ICONS
 */
input[type="checkbox"],
.tile.arrow-right::after,
.icon {
  font-family: "Material Symbols Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 300;
  src: url("Icons/material-icons.woff") format("woff");
}
