/*
    COLORS
*/

:root {
    --light-background: #ffffff;
    --light-background-hover: #8d8d8d;
    --light-background-active: #8d8d8d;
    --light-background-selected: #8d8d8d;
    --light-background-selected-hover: #8d8d8d;
    --light-background-inverse: #393939;
    --light-background-inverse-hover: #4c4c4c;
    --light-background-brand: #0f62fe;
    --light-layer-01: #f4f4f4;
    --light-layer-02: #ffffff;
    --light-layer-03: #f4f4f4;
    --light-layer-hover-01: #e8e8e8;
    --light-layer-hover-02: #e8e8e8;
    --light-layer-hover-03: #e8e8e8;
    --light-layer-active-01: #c6c6c6;
    --light-layer-active-02: #c6c6c6;
    --light-layer-active-03: #c6c6c6;
    --light-layer-selected-01: #e0e0e0;
    --light-layer-selected-02: #e0e0e0;
    --light-layer-selected-03: #e0e0e0;
    --light-layer-selected-hover-01: #cacaca;
    --light-layer-selected-hover-02: #cacaca;
    --light-layer-selected-hover-03: #cacaca;
    --light-layer-selected-inverse: #161616;
    --light-layer-selected-disabled: #8d8d8d;
    --light-layer-accent-01: #e0e0e0;
    --light-layer-accent-02: #e0e0e0;
    --light-layer-accent-03: #e0e0e0;
    --light-layer-accent-hover-01: #cacaca;
    --light-layer-accent-hover-02: #cacaca;
    --light-layer-accent-hover-03: #cacaca;
    --light-layer-accent-active-01: #a8a8a8;
    --light-layer-accent-active-02: #a8a8a8;
    --light-layer-accent-active-03: #a8a8a8;
    --light-field-01: #f4f4f4;
    --light-field-02: #ffffff;
    --light-field-03: #f4f4f4;
    --light-field-hover-01: #e8e8e8;
    --light-field-hover-02: #e8e8e8;
    --light-field-hover-03: #e8e8e8;
    --light-border-interactive: #0f62fe;
    --light-border-subtle-00: #e0e0e0;
    --light-border-subtle-01: #c6c6c6;
    --light-border-subtle-02: #e0e0e0;
    --light-border-subtle-03: #c6c6c6;
    --light-border-subtle-selected-01: #c6c6c6;
    --light-border-subtle-selected-02: #c6c6c6;
    --light-border-subtle-selected-03: #c6c6c6;
    --light-border-strong-01: #8d8d8d;
    --light-border-strong-02: #8d8d8d;
    --light-border-strong-03: #8d8d8d;
    --light-border-tile-01: #c6c6c6;
    --light-border-tile-02: #a8a8a8;
    --light-border-tile-03: #c6c6c6;
    --light-border-inverse: #161616;
    --light-border-disabled: #c6c6c6;
    --light-text-primary: #161616;
    --light-text-secondary: #525252;
    --light-text-placeholder: #a8a8a8;
    --light-text-on-color: #ffffff;
    --light-text-on-color-disabled: #8d8d8d;
    --light-text-helper: #6f6f6f;
    --light-text-error: #da1e28;
    --light-text-inverse: #ffffff;
    --light-text-disabled: #161616;
    --light-link-primary: #0f62fe;
    --light-link-primary-hover: #0043ce;
    --light-link-secondary: #0043ce;
    --light-link-inverse: #78a9ff;
    --light-link-visited: #8a3ffc;
    --light-icon-primary: #161616;
    --light-icon-secondary: #525252;
    --light-icon-on-color: #ffffff;
    --light-icon-on-color-disabled: #8d8d8d;
    --light-icon-interactive: #0f62fe;
    --light-icon-inverse: #ffffff;
    --light-icon-disabled: #161616;
    --light-button-primary: #0f62fe;
    --light-button-primary-hover: #0353e9;
    --light-button-primary-active: #002d9c;
    --light-button-secondary: #393939;
    --light-button-secondary-hover: #4c4c4c;
    --light-button-secondary-active: #6f6f6f;
    --light-button-tertiary: #0f62fe;
    --light-button-tertiary-hover: #0353e9;
    --light-button-tertiary-active: #002d9c;
    --light-button-danger-primary: #da1e28;
    --light-button-danger-secondary: #da1e28;
    --light-button-danger-hover: #ba1b23;
    --light-button-danger-active: #750e13;
    --light-button-separator: #e0e0e0;
    --light-button-disabled: #c6c6c6;
    --light-support-error: #da1e28;
    --light-support-success: #24a148;
    --light-support-warning: #f1c21b;
    --light-support-info: #0043ce;
    --light-support-error-inverse: #fa4d56;
    --light-support-success-inverse: #42be65;
    --light-support-warning-inverse: #f1c21b;
    --light-support-info-inverse: #4589ff;
    --light-focus: #0f62fe;
    --light-focus-inset: #ffffff;
    --light-focus-inverse: #ffffff;
    --light-interactive: #0f62fe;
    --light-highlight: #d0e2ff;
    --light-toggle-off: #8d8d8d;
    --light-overlay: #161616;
    --light-skeleton-element: #c6c6c6;
    --light-skeleton-background: #e5e5e5;

    --dark-background: #161616;
    --dark-background-hover: #8d8d8d;
    --dark-background-active: #8d8d8d;
    --dark-background-selected: #8d8d8d;
    --dark-background-selected-hover: #8d8d8d;
    --dark-background-inverse: #f4f4f4;
    --dark-background-inverse-hover: #e5e5e5;
    --dark-background-brand: #0f62fe;
    --dark-layer-01: #262626;
    --dark-layer-02: #393939;
    --dark-layer-03: #525252;
    --dark-layer-hover-01: #333333;
    --dark-layer-hover-02: #474747;
    --dark-layer-hover-03: #636363;
    --dark-layer-active-01: #525252;
    --dark-layer-active-02: #6f6f6f;
    --dark-layer-active-03: #8d8d8d;
    --dark-layer-selected-01: #393939;
    --dark-layer-selected-02: #525252;
    --dark-layer-selected-03: #6f6f6f;
    --dark-layer-selected-hover-01: #4c4c4c;
    --dark-layer-selected-hover-02: #656565;
    --dark-layer-selected-hover-03: #5e5e5e;
    --dark-layer-selected-inverse: #f4f4f4;
    --dark-layer-selected-disabled: #6f6f6f;
    --dark-layer-accent-01: #393939;
    --dark-layer-accent-02: #525252;
    --dark-layer-accent-03: #6f6f6f;
    --dark-layer-accent-hover-01: #4c4c4c;
    --dark-layer-accent-hover-02: #656565;
    --dark-layer-accent-hover-03: #5e5e5e;
    --dark-layer-accent-active-01: #525252;
    --dark-layer-accent-active-02: #8d8d8d;
    --dark-layer-accent-active-03: #393939;
    --dark-field-01: #262626;
    --dark-field-02: #393939;
    --dark-field-03: #525252;
    --dark-field-hover-01: #333333;
    --dark-field-hover-02: #474747;
    --dark-field-hover-03: #636363;
    --dark-border-interactive: #4589ff;
    --dark-border-subtle-00: #393939;
    --dark-border-subtle-01: #393939;
    --dark-border-subtle-02: #525252;
    --dark-border-subtle-03: #6f6f6f;
    --dark-border-subtle-selected-01: #525252;
    --dark-border-subtle-selected-02: #6f6f6f;
    --dark-border-subtle-selected-03: #8d8d8d;
    --dark-border-strong-01: #6f6f6f;
    --dark-border-strong-02: #8d8d8d;
    --dark-border-strong-03: #a8a8a8;
    --dark-border-tile-01: #525252;
    --dark-border-tile-02: #6f6f6f;
    --dark-border-tile-03: #8d8d8d;
    --dark-border-inverse: #f4f4f4;
    --dark-border-disabled: #8d8d8d;
    --dark-text-primary: #f4f4f4;
    --dark-text-secondary: #c6c6c6;
    --dark-text-placeholder: #6f6f6f;
    --dark-text-on-color: #ffffff;
    --dark-text-on-color-disabled: #ffffff;
    --dark-text-helper: #8d8d8d;
    --dark-text-error: #ff8389;
    --dark-text-inverse: #161616;
    --dark-text-disabled: #f4f4f4;
    --dark-link-primary: #78a9ff;
    --dark-link-primary-hover: #a6c8ff;
    --dark-link-secondary: #a6c8ff;
    --dark-link-inverse: #0f62fe;
    --dark-link-visited: #be95ff;
    --dark-icon-primary: #f4f4f4;
    --dark-icon-secondary: #c6c6c6;
    --dark-icon-on-color: #ffffff;
    --dark-icon-on-color-disabled: #ffffff;
    --dark-icon-interactive: #ffffff;
    --dark-icon-inverse: #161616;
    --dark-icon-disabled: #f4f4f4;
    --dark-button-primary: #0f62fe;
    --dark-button-primary-hover: #0353e9;
    --dark-button-primary-active: #002d9c;
    --dark-button-secondary: #6f6f6f;
    --dark-button-secondary-hover: #606060;
    --dark-button-secondary-active: #393939;
    --dark-button-tertiary: #ffffff;
    --dark-button-tertiary-hover: #f4f4f4;
    --dark-button-tertiary-active: #c6c6c6;
    --dark-button-danger-primary: #da1e28;
    --dark-button-danger-secondary: #fa4d56;
    --dark-button-danger-hover: #ba1b23;
    --dark-button-danger-active: #750e13;
    --dark-button-separator: #161616;
    --dark-button-disabled: #525252;
    --dark-support-error: #fa4d56;
    --dark-support-success: #42be65;
    --dark-support-warning: #f1c21b;
    --dark-support-info: #4589ff;
    --dark-support-error-inverse: #da1e28;
    --dark-support-success-inverse: #24a148;
    --dark-support-warning-inverse: #f1c21b;
    --dark-support-info-inverse: #0043ce;
    --dark-focus: #ffffff;
    --dark-focus-inset: #161616;
    --dark-focus-inverse: #0f62fe;
    --dark-interactive: #4589ff;
    --dark-highlight: #001d6c;
    --dark-toggle-off: #6f6f6f;
    --dark-overlay: #161616;
    --dark-skeleton-element: #525252;
    --dark-skeleton-background: #353535;
}

/*
    SPACING
*/
:root {
    --spacing-01: 0.125rem;
    --spacing-02: 0.25rem;
    --spacing-03: 0.5rem;
    --spacing-04: 0.75rem;
    --spacing-05: 1rem;
    --spacing-06: 1.5rem;
    --spacing-07: 2rem;
    --spacing-08: 2.5rem;
    --spacing-09: 3rem;
    --spacing-10: 4rem;
    --spacing-11: 5rem;
    --spacing-12: 6rem;
    --spacing-13: 10rem;
}

/*
    TYPE
*/
.code-01 {
    font-family: IBM Plex Mono;
    size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .32px;
}

.code-02 {
    font-family: IBM Plex Mono;
    size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: .32px;
}

.label-01 {
    font-family: IBM Plex Sans;
    size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .32px;
}

.label-02 {
    font-family: IBM Plex Sans;
    size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .16px;
}

.helper-text-01 {
    font-family: IBM Plex Sans;
    size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .32px;
}

.helper-text-02 {
    font-family: IBM Plex Sans;
    size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .16px;
}

.legal-01 {
    font-family: IBM Plex Sans;
    size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .32px;
}

.legal-02 {
    font-family: IBM Plex Sans;
    size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .16px;
}